nav, footer {
    background-color: #333;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
  }
  
  a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  a:hover {
    background-color: #555;
  }

  .fly-in-text {
    animation-name: flyInAnimation;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes flyInAnimation {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade-in-text {
    opacity: 0;
    animation-name: fadeInAnimation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  



  .background-section {
    background-image: url("luna.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;
  }

  .luna {
    color: white;
    position: relative;
    top: 25px;
    left: 25px;
    
  }
  
  footer {
    color: white;
    text-align:center;
    font-size: 16px;
    padding: 10px;
  }

  